@import "font-awesome-4.6.3/less/font-awesome";
@import "bootstrap-3.3.0/less/bootstrap";

// font-awesome variables
@fa-font-path: "font-awesome-4.6.3/fonts";

// reset variables
@body-bg: #e9eaed;
@text-color: #222527;
@brand-primary: #EB5424;
@link-color: #666;
@link-hover-color: #303030;
@font-family-sans-serif: Helvetica, Arial, "PingFang SC", "Noto Sans", Roboto, "Microsoft Yahei", sans;

@component-active-color: @brand-primary;
@component-active-bg: transparent;

// navbar
@navbar-default-bg: #fff;
@navbar-default-brand-color: #666;
@navbar-default-link-color: @gray-dark;
@navbar-default-link-active-color: @brand-primary;
@navbar-default-link-hover-color: @brand-primary;
@navbar-default-link-active-bg: @navbar-default-bg;
@navbar-default-link-hover-bg: @navbar-default-bg;

// dropdown
@dropdown-link-hover-color: @brand-primary;
@dropdown-link-hover-bg: transparent;

// forms
@border-radius-base: 3px;

// panel
@panel-default-border: #e5e6e9;

// common
.form-control {
  box-shadow: none;
}

.dropdown-menu {
  border-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.panel {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 15px;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}

.panel.panel-default .panel-heading {
  color: #777;
}

body {
  padding-top: 65px;
}

body.topics-page {
  padding-top: 51px;
}

// header
header {
  nav.navbar {
    border: none;
    margin-bottom: 15px;
    .navbar-brand {
      font-weight: bold;

      b {
        color: @brand-primary;
      }
    }

    #main-menu.navbar-nav {
      > li > a {
        padding-bottom: 12px;
        transition: all .2s ease-in-out;
      }

      > li.active > a, > li > a:hover {
        border-bottom: 3px solid @brand-primary;
      }
    }

    .navbar-form {
      .fa {
        color: @gray-dark;
      }
      .input-group-addon {
        background: none;
        border: none;
        padding-left: 5px;
        padding-right: 5px;
      }
      .form-control, .navbar-form .form-control:focus {
        font-size: 12px;
        border: none;
        outline: none;
        box-shadow: none;
        padding-left: 1px;
        padding-right: 1px;
      }
      .form-control::-webkit-input-placeholder {
        color: #ddd;
      }
      .form-control:-moz-placeholder {
        color: #ddd;
      }
      .form-control::-moz-placeholder {
        color: #ddd;
      }
      .form-control:-ms-input-placeholder {
        color: #ddd;
      }
    }

    .user-settings {
      a.dropdown-toggle {
        padding-top: 14px;
        padding-bottom: 12px;
      }
      img.img-circle {
        width: 24px;
      }
    }
  }
}

// footer
footer {
  color: #9ca4a9;

  .links {
    color: #ddd;
  }

  a {
    color: #666;
  }
  .supports {
    margin: 10px 0;
    span {
      margin-right: 20px;
    }
    span:last-child {
      margin-right: inherit;
    }
    img {
      height: 20px;
      margin-top: -2px;
    }
  }
  .socials {
    a {
      font-size: 20px;
      margin-right: 8px;
    }
  }
  .apps {
    margin-left: 15px;
  }
}

// content

// index page
.gems-info {
  width: 480px;
  margin: 0 auto;

  h5 {
    font-size: 15px;
  }

  code {
    padding: 4px 10px;
  }
}

.hot-links {
  a:hover, a:focus {
    text-decoration: none;
  }
  a.icon .fa {
    font-size: 60px;
  }
  a.title {
    display: block;
    font-weight: bold;
    i.fa {
      margin-top: 3px;
    }
  }
  .panel-footer {
    border-color: #E9E9E9;
    padding: 6px 15px;
  }
  .panel-topics a.icon {
    color: #F86334;
  }
  .panel-hr a.icon {
    color: #317DDA;
  }
  .panel-best-articles a.icon {
    color: #3BD54E;
  }
  .panel-wiki a.icon {
    color: #FFD52F;
  }
}

.hot-links .panel:hover {
  opacity: 0.75;
}

.cities-nav {
  .links a {
    padding: 0 6px;
  }
}

.best-articles-nav {
  .row .col-xs-6 {
    padding-left: 0;
    padding-right: 0;
  }
}

.topic {
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #F0F0F0;
  .media-body a.media-heading {
    display: block;
    font-size: 15px;
    color: @gray-darker;
    font-weight: 400;
    line-height: 30px;
    text-decoration: none;
    .node {
      color: #777;
      margin-right: 5px;
    }

    .fa {
      color: @brand-primary;
      margin-left: 5px;
    }
  }
  .media-body a.media-heading:hover {
    text-decoration: none;
    color: @gray;
    .node {
      color: @gray;
    }
  }
  .media-body {
    width: 10000px;
    color: #ABA8A6;
    font-size: 12px;
    a {
      color: #ABA8A6;
    }
  }
  .media-right {
    a {
      .badge {
        background: #CFD3E6;
      }
    }
    a:hover {
      .badge {
        background: #A9BBDC;
      }
    }

  }
}

.topic:last-child {
  border-bottom: none;
}

.node-nav {
  .media {
    margin-bottom: 10px;
    .media-left {
      color: #aaa;
      min-width: 130px;
      text-align: right;
    }
    .media-body {
      .links {
        a {
          display: block;
          margin-bottom: 10px;
          width: 100px;
          float: left;
          color: @gray-dark;
        }
      }
    }
  }
}

// topics page

.topics-navbar {
  padding: 8px 0;
  background: #f9f9f9;

  .media-left {
    margin-right: 15px;
  }
  .all-nodes-nav-btn {
    line-height: 100%;
    border: none;
    background: #f0f0f0;
    color: #606060;
    border: 0;
    padding: 8px;
    &:hover {
      background: #e0e0e0;
    }
  }
  ul li a {
    padding: 8px;
    line-height: 100%;
    color: #606060;
  }
  ul.nav>li>a:hover, ul.nav>li.active>a {
    color: @gray-base;
    border-bottom: 2px dotted #666666;
    background: none;
  }
}
